<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.happyhacker.springbootdemo.mybatis.mapper.UserMapper">
    <resultMap id="user" type="fun.happyhacker.springbootdemo.mybatis.entity.User">
        <id column="id" property="id" javaType="int"/>
        <result column="name" property="name" javaType="String"/>
        <result column="age" property="age" javaType="int"/>
    </resultMap>
<!--    <insert id="addUser" parameterType="fun.happyhacker.springbootdemo.mybatis.entity.User">-->
<!--        INSERT INTO user (`id`, `name`, `age`) VALUES (${id}, #{name},${age})-->
<!--    </insert>-->

<!--    <select id="xmlQueryAgeByName" resultType="fun.happyhacker.springbootdemo.mybatis.entity.User">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM user where name = #{userName, jdbcType=VARCHAR}-->
<!--    </select>-->

<!--    <select id="queryAllUsers" resultMap="user" resultType="fun.happyhacker.springbootdemo.mybatis.entity.User">-->
<!--        SELECT * FROM user-->
<!--    </select>-->
    <select id="queryByNameEquals" parameterType="java.lang.String" resultMap="user" resultType="fun.happyhacker.springbootdemo.mybatis.entity.User">
        SELECT * FROM user WHERE `name` = #{userName, jdbcType=VARCHAR}
    </select>
</mapper>
